PORT=3000
NODE_ENV=development

# Blockchain Node RPC URL (Local Hardhat, Sepolia, Polygon, etc.)
RPC_URL=http://127.0.0.1:8545

# Dirección del contrato desplegado MielBierzoDPP1155 (ERC-1155)
CONTRACT_ADDRESS_1155=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Clave privada del Apicultor (Rol APICULTOR_ROLE para minado y transferencias)
APICULTOR_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Clave privada del Consejo Regulador (Rol CONSEJO_REGULADOR_ROLE para certificación)
CONSEJO_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d

# Dominio público para GS1 Digital Link (Render / Producción)
DOMAIN=https://dpp-mieldelbierzo.onrender.com
